
/* Add your css here */
@media only screen and (orientation: portrait){
    body{
        width: 100%;
        margin-right: 5px;
        margin-left: 5px;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        .h-container{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            ul{
                display: flex;
                flex-direction: column;
                list-style: none;
                justify-content: space-around;
            }
            img{
                max-width: 1em;
            }
        }
        .u_log{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            position: relative;
            top: 25px;
            right: 5px;
            color: white;
        }
        .banner{
            background-image: url("bg.jpg");
            display: block;
            .search-restaurant{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                #zologo{
                    height: 35vw;
                    margin-top: 10px;
                }
                p{
                    color: white;
                    width: 90%;
                    margin-top: 6px;
                }
                #search-rest{
                    width: 90%;
                    height: 2.5em;
                    margin-top: 6px;
                }
                #search-btn{
                    width: 91%;
                    height: 2.5em;
                    color: white;
                    background-color: red;
                    margin-top: 6px;
                    margin-bottom: 6px;
                }
            }
        }
        .widget{
            display: flex;
            flex-direction: column;
            align-items: stretch;
            h1{
                font-weight: bold;
            }
            p{
                color: #666;
            }
            .search-del{
                width: 96%;
            }
            .order-btn{
                width: 97%;
                color: white;
                background-color: green;
            }
        }
        #code{
            color: green;
        }
        .categories{
            background-color: #eee;
            #cat-title{
                font-weight: bold;
            }
            #cat-subtitle{
                color: #666;
            }
            ul{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
                li{
                    max-width: 5em;
                    display: flex;
                    flex-direction: column;
                    p{
                        align-self: center;
                    }
                }
            }
        }
        .localities{
            background-color: #eee;
            #loc-title{
                font-weight: bold;
            }
            #loc-subtitle{
                color: #666;
            }
        }
        .footer-wrapper{
            background-color: #232338;
            color: #999;
            font-size: 15px;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
            ul{
                position: relative;
                left: 10px;
            }
            .Countries{
                align-self: bottom;
            }
        }

    }
    
}

@media only screen and (orientation: landscape){
    body{
        .h-container{
            max-height: 5em;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            ul{
                display: flex;
                flex-direction: row;
                list-style: none;
                justify-content: space-around;
            }
            img{
                max-width: 1em;
            }
        }
    }
}

